/*main styling page*/

.footerBackground 
{
    text-align: center;
    background-image: url("styles-images/footer-background.webp");
    background-position: center;
    padding: 40px; /* creates space so inner box doesn't touch edges */
}

.footerForeground
{
  background: white;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto; 
  border-radius: 20px; 
}

.titleArea
{
    text-align: center;
    background-image: url("styles-images/title-area-background.webp");
    padding: 40px;
    -webkit-text-fill-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

body {
}