


<h1 class="footerTitle">CONTACT US</h1>
<footer class="footerBackground">
  <div class="footerForeground">
    <hr>
    </br>
    <p>Phone: <strong>3217-707-8444</strong></p>
    <p>Secondary Phone: <strong>401-380-0919</strong></p>
    <p>Email: <strong>mythicartstattoos@gmail.com</strong></p>
    <p>Address: <strong>3990 Teays Valley Rd, Hurricane, WV, United States, 25526</strong></p>
    </br>
    <hr>
    </br>
    <p><strong>HOURS</strong></p>
    <div class="hours">
      <p>Friday 11am-11pm</p>
      <p>Saturday 11am-11pm</p>
      <p>Sunday Closed</p>
      <p>Monday 11am-11pm</p>
      <p>Tuesday 11am-11pm</p>
      <p>Wednesday 11am-11pm</p>
    </div>
  </div>
</footer>
<div class="bottomTag">
  <p>© 2026 Ink Studio</p>
</div>